*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 6px solid black;
    background-color: white;
    padding: 20px 24px;
    width: 490px;
}

h1{
    color: black;
    margin-bottom: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container .box{
    width: 100%;
    display: flex;
}

.box div{
    width: 100%;
}

select{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    color: black;
    margin: 0.2em 0;
    padding: 0 1em;
    border: solid 3px black;
}

input{
    width: 95%;
    height: 40px;
    font-size: 1em;
    margin:  0.2em 0;
    border: solid 3px black;
    background: yellow;
    padding: 0 1em;
}

.btn{
    width: 50%;
    height: 40px;
    background: black;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0;
}